<div class="mb-4 md:mb-16 overflow-hidden base-container text-center">
	<div class="mb-16 mt-8">
		<span class="uppercase tracking-widest text-xs">GENRES</span>
	</div>
	
	<div class="flex flex-wrap text-center">
		<!-- {{ range (where .Site.RegularPages "Type" "categorie") }}
			{{ partial "category-single-box" . }}
		{{ end }} -->
		<div class="hidden md:block w-1/12"></div>
		<div class="w-full md:w-5/12 md:pr-8 md:pt-12 flex flex-col items-center">
			<div class="mb-24">
				<img src="https://placekitten.com/400/650" class="mb-10" alt="">
				<h2 class="text-2xl mb-4">Fashion</h2>
				<a href="" class="text-xs">Watch gallery <i class="lni-arrow-right align-text-bottom"></i></a>
			</div>
			
			<div class="mb-24 md:mb-0">
				<img src="https://placekitten.com/350/200" class="mb-10" alt="">
				<h2 class="text-2xl mb-4">Food</h2>
				<a href="" class="text-xs">Watch gallery <i class="lni-arrow-right align-text-bottom"></i></a>
			</div>
		</div>
		<div class="w-full md:w-5/12 md:pl-8 flex flex-col items-center">
			<div class="mb-24">
				<img src="https://placekitten.com/500/300" class="mb-10" alt="">
				<h2 class="text-2xl mb-4">Advertising</h2>
				<a href="" class="text-xs">Watch gallery <i class="lni-arrow-right align-text-bottom"></i></a>
			</div>
			<div class="mb-24 md:mb-0">
				<img src="https://placekitten.com/300/400" class="mb-10" alt="">
				<h2 class="text-2xl mb-4">Portrait</h2>
				<a href="" class="text-xs">Watch gallery <i class="lni-arrow-right align-text-bottom"></i></a>
			</div>
		</div>
		<div class="hidden md:block w-1/12"></div>
	</div>
</div>
