<div class="mb-4 md:mb-16 overflow-hidden base-container text-center">
	<div class="mb-16 mt-8">
		<span class="uppercase tracking-widest text-xs">GENRES</span>
	</div>
	
	<div class="flex flex-wrap text-center">
		{{ $cats := (where .Site.RegularPages "Type" "categorie") }}
		{{ $cat1 := index $cats 0 }}
		{{ $cat2 := index $cats 1 }}
		{{ $cat3 := index $cats 2 }}
		{{ $cat4 := index $cats 3 }}
		
		<div class="hidden md:block w-1/12"></div>
		<div class="w-full md:w-5/12 md:pr-8 md:pt-12 flex flex-col items-center">
			<div class="mb-24">
				<img src="{{ $cat1.Params.image }}" class="mb-10" alt="{{ $cat1.Params.title }}">
				<h2 class="text-2xl mb-4">{{ $cat1.Params.title }}</h2>
				<a href="{{ $cat1.Params.slug }}" class="text-xs">
					Watch gallery <i class="lni-arrow-right align-text-bottom"></i>
				</a>
			</div>
			
			<div class="mb-24 md:mb-0">
				<img src="{{ $cat2.Params.image }}" class="mb-10" alt="{{ $cat2.Params.title }}">
				<h2 class="text-2xl mb-4">{{ $cat2.Params.title }}</h2>
				<a href="{{ $cat2.Params.slug }}" class="text-xs">
					Watch gallery <i class="lni-arrow-right align-text-bottom"></i>
				</a>
			</div>
		</div>
		<div class="w-full md:w-5/12 md:pl-8 flex flex-col items-center">
			<div class="mb-24">
				<img src="{{ $cat3.Params.image }}" class="mb-10" alt="{{ $cat3.Params.title }}">
				<h2 class="text-2xl mb-4">{{ $cat3.Params.title }}</h2>
				<a href="{{ $cat3.Params.slug }}" class="text-xs">
					Watch gallery <i class="lni-arrow-right align-text-bottom"></i>
				</a>
			</div>
			<div class="mb-24 md:mb-0">
				<img src="{{ $cat4.Params.image }}" class="mb-10" alt="{{ $cat4.Params.title }}">
				<h2 class="text-2xl mb-4">{{ $cat4.Params.title }}</h2>
				<a href="{{ $cat4.Params.slug }}" class="text-xs">
					Watch gallery <i class="lni-arrow-right align-text-bottom"></i>
				</a>
			</div>
		</div>
		<div class="hidden md:block w-1/12"></div>
	</div>
</div>
