<nav class="flex items-center justify-between flex-wrap py-6 base-container">
  <div class="flex items-center flex-shrink-0 mr-6">
    <a href="/" class="font-semibold text-xl tracking-tight">Emanuela Campanella</a>
  </div>
  <div class="block md:hidden">
    <button class="flex items-center px-3 py-2 border rounded border-black hover:border-gold js-menu-toggle">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
      </svg>
    </button>
  </div>
  <div class="w-full block flex-grow md:flex md:items-center md:w-auto js-menu">
    <div class="text-sm md:flex-grow">
      <a href="/" class="block mt-4 md:inline-block md:mt-0 mr-4">
        Home
      </a>

      <div class="group block mt-4 md:inline-block md:mt-0 mr-4">
        <a href="#" class="">
          Portfolio
        </a>
        <div class="items-center absolute pt-2 invisible group-hover:visible w-auto z-10">
          {{ range (where .Site.RegularPages "Type" "categorie") }}
            <a href="/{{ .Params.slug }}" class="px-4 py-2 block bg-gray-100 hover:bg-gray-200">{{ title .Params.title }}</a>
          {{ end }}
        </div>
      </div>

      <!-- <a href="/blog" class="block mt-4 md:inline-block md:mt-0 mr-4">
        Blog
      </a> -->
      <a href="/about" class="block mt-4 md:inline-block md:mt-0 mr-4">
        About
      </a>
      <a href="/contact" class="block mt-4 md:inline-block md:mt-0">
        Contact
      </a>
    </div>
    <!-- <div>
      <a href="#" class="inline-block text-sm px-4 py-2 leading-none border border-black rounded mt-4 md:mt-0">Download</a>
    </div> -->
  </div>
  <div class="w-full block md:flex md:items-center md:w-auto js-menu">
    <ul class="text-sm md:flex-grow">
      <li class="block mt-4 md:inline-block md:mt-0 mr-4">
        {{ $instagram := (printf "https://instagram.com/%s" .Site.Params.social.instagram) }}
        {{ partial "social-icon" (dict "link" $instagram "social" "instagram") }}
      </li>
      <li class="block mt-4 md:inline-block md:mt-0 mr-4">
        {{ $facebook := (printf "https://facebook.com/%s" .Site.Params.social.facebook) }}
        {{ partial "social-icon" (dict "link" $facebook "social" "facebook") }}
      </li>
      <li class="block mt-4 md:inline-block md:mt-0">
        {{ $linkedin := (printf "https://linkedin.com/in/%s" .Site.Params.social.linkedin) }}
        {{ partial "social-icon" (dict "link" $linkedin "social" "linkedin") }}
      </li>
    </ul>
  </div>
</nav>