<nav class="fixed bg-white w-full flex items-center justify-between flex-wrap p-4 md:py-6 sm:px-6 md:px-12 base-container z-10 border-b">
  <div class="flex items-center flex-shrink-0 mr-6 md:hidden">
    <a href="/" class="font-semibold text-xl tracking-tight uppercase tracking-widest">Emanuela Campanella</a>
  </div>
  <div class="block md:hidden z-20">
    <button class="flex items-center js-menu-toggle">
      <i class="lni-menu size-md js-menu-toggle-icon"></i>
    </button>
  </div>

  
  <div class="bg-white fixed md:relative md:flex-row-reverse top-0 bottom-0 left-0 right-0 w-full block md:flex md:justify-center pl-8 md:pl-0 pt-24 md:pt-0 js-menu">
    <div class="text-sm">
      <a href="/" class="block md:inline-block md:mt-0 mr-4 mt-4 text-lg md:text-xs font-bold md:font-body tracking-wider uppercase">
        Home
      </a>

      <a href="/portfolio" class="block md:inline-block md:mt-0 mr-4 mt-4 text-lg md:text-xs font-bold md:font-body tracking-wider uppercase">
        Portfolio
      </a>
      <!-- <div class="group block md:inline-block md:mt-0 mr-4 mt-4 text-lg md:text-xs font-bold md:font-body tracking-wider uppercase">
        <div class="items-center absolute pt-2 invisible group-hover:visible w-auto z-10">
          {{ range (where .Site.RegularPages "Type" "categorie") }}
            <a href="/{{ .Params.slug }}" class="px-4 py-2 block bg-gray-100 hover:bg-gray-200">{{ title .Params.title }}</a>
          {{ end }}
        </div>
      </div> -->

      <a href="/post" class="block md:inline-block md:mt-0 mr-4 mt-4 text-lg md:text-xs font-bold md:font-body tracking-wider uppercase">
        Blog
      </a>
      <a href="#" class="block md:inline-block md:mt-0 mr-4 mt-4 text-lg md:text-xs font-bold md:font-body tracking-wider uppercase">
        Hire me
      </a>
      <a href="/about" class="block md:inline-block md:mt-0 mr-4 mt-4 text-lg md:text-xs font-bold md:font-body tracking-wider uppercase">
        About
      </a>
    </div>
    <div class="mt-4 md:mt-0 md:absolute md:left-0">
      <ul class="text-xl md:text-sm">
        <li class="block mt-4 inline-block md:mt-0 mr-1 md:mr-4">
          {{ $instagram := (printf "https://instagram.com/%s" .Site.Params.social.instagram) }}
          {{ partial "social-icon" (dict "link" $instagram "social" "instagram") }}
        </li>
        <li class="block mt-4 inline-block md:mt-0 mr-1 md:mr-4">
          {{ $facebook := (printf "https://facebook.com/%s" .Site.Params.social.facebook) }}
          {{ partial "social-icon" (dict "link" $facebook "social" "facebook") }}
        </li>
        <li class="block mt-4 inline-block md:mt-0">
          {{ $linkedin := (printf "https://linkedin.com/in/%s" .Site.Params.social.linkedin) }}
          {{ partial "social-icon" (dict "link" $linkedin "social" "linkedin") }}
        </li>
      </ul>
    </div>
  </div>
</nav>