<script type="application/ld+json">
  {
      "@context" : "http://schema.org",
      "@type" : "BlogPosting",
      "mainEntityOfPage": {
           "@type": "WebPage",
           "@id": "{{ .Site.BaseURL }}"
      },
      "articleSection" : "{{ .Section }}",
      "name" : "{{ .Title }}",
      "headline" : "{{ .Title }}",
      "description" : "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
      "inLanguage" : "{{ .Site.LanguageCode }}",
      "author" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
      "creator" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
      "publisher": "{{ with .Site.Params.author }}{{ . }}{{ end }}",
      "accountablePerson" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
      "copyrightHolder" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
      "copyrightYear" : "{{ .Date.Format "2006" }}",
      "datePublished": "{{ .Date }}",
      "dateModified" : "{{ .Date }}",
      "url" : "{{ .Permalink }}"
  }
  </script>