<ul class="text-xl md:text-sm">
  <li class="block mt-4 inline-block md:mt-0 mr-1 md:mr-4">
    {{ $instagram := (printf "https://instagram.com/%s" .Site.Params.social.instagram) }}
    {{ partial "social-icon" (dict "link" $instagram "social" "instagram") }}
  </li>
  <li class="block mt-4 inline-block md:mt-0 mr-1 md:mr-4">
    {{ $facebook := (printf "https://facebook.com/%s" .Site.Params.social.facebook) }}
    {{ partial "social-icon" (dict "link" $facebook "social" "facebook") }}
  </li>
  <li class="block mt-4 inline-block md:mt-0">
    {{ $linkedin := (printf "https://linkedin.com/in/%s" .Site.Params.social.linkedin) }}
    {{ partial "social-icon" (dict "link" $linkedin "social" "linkedin") }}
  </li>
</ul>