<a href="{{ .RelPermalink }}" class="">
	<img src="{{ .Params.mainimage }}" alt="{{ $.Site.Params.Author }} {{ .Title }}" class="w-full mb-4 lg:mb-0">
	<div class="lg:absolute top-0 left-0 w-full bottom-0 lg:opacity-0 lg:hover:opacity-75 lg:bg-gray-800 lg:transition-normal lg:text-white flex flex-col lg:justify-center lg:items-center">
		<h2 class="text-2xl tracking-wide mb-2">{{ .Title }}</h2>
		<hr class="w-1/4 bg-white mb-6 hidden lg:block">
		<p class="uppercase tracking-widest hidden lg:block">Watch <i class="lni-arrow-right align-text-bottom"></i></p>
	</div>
</a>