{{ define "main" }}

<div class="mb-4 overflow-hidden base-container">
  <div class="flex flex-wrap justify-center mb-8 w-full">
    <button class="hover:text-gold px-2 uppercase js-masonry-filter active" data-filter="all">All</button>
    {{ range (where .Site.RegularPages "Type" "categorie") }}
      <button class="hover:text-gold px-2 uppercase js-masonry-filter" data-filter="{{ .Slug }}">{{ .Title }}</button>
    {{ end }}
  </div>

  <div class="js-masonry ">
    <div class="grid-gutter"></div>
    <div class="grid-sizer"></div>
    {{ range (.Paginator 4).Pages.ByDate.Reverse }}
        <div class="grid-item overflow-hidden {{ .Params.categories }}">
          {{ .Render "li" }}
        </div>
    {{ end }}
  </div>
  
  {{ partial "pagination" . }}
</div>

{{end}}
