{{ define "main" }}

<div class="base-container md:flex">
  <div class="md:w-2/5 md:pr-24 mb-12 portfolio-content">
    {{ .Content }}
  </div>
  
  <div class="md:w-3/5">
    {{ if eq (index .Params "album") "single" }}
    <!-- Portfolio Single -->
    <div>
      {{ $item := index .Params.images 0 }}
      <a data-fslightbox class="grid-item overflow-hidden" href="{{ $item.src }}">
        <img src="{{ $item.src }}" alt="{{ $item.caption }}" class="w-full">
      </a>
    </div>
    {{ else }}
    <!-- Portfolio Album -->
    <div class="js-masonry">
      <div class="grid-gutter"></div>
      <div class="grid-sizer"></div>
      {{ range .Params.images }}
        <a data-fslightbox class="grid-item overflow-hidden" href="{{ .src }}">
          <img src="{{ .src }}" alt="{{ .caption }}">
        </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
