{{ define "main" }}

  <div class="base-container max-w-4xl m-auto">
    {{ if .Params.image }}
    <img src="{{ .Params.image }}" alt="{{ .Title }}" class="mb-12"/>
    {{ end }}
    
    <h1 class="mb-12">{{.Title}}</h1>
    
    <div class="leading-relaxed mb-6 text-xs">
      <p>{{ .Date.Format "2 January 2006" }}</p>
      <p>Read in {{ .ReadingTime }} minutes</p>
    </div>
    
    <div class="leading-relaxed mb-12">
      <p class="mb-12">{{ .Description }}</p>
      {{ .Content }}
    </div>
  </div>

{{ end }}
