/* Basic Heading sizes */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

blockquote {
  @apply text-xs uppercase pt-8 flex tracking-widest;
}

blockquote:before {
  content: '\2212';
  @apply pr-2 relative;
}

/* Custom container */
.base-container {
  @apply px-4;
}

@screen sm {
  .base-container {
    @apply px-6;
  }
}

@screen md {
  .base-container {
    @apply px-12;
  }
}

/* Custom Transitions */
.transition-fast {
  transition: .1s ease-in-out;
}
.transition-normal {
  transition: .3s ease-in-out;
}
.transition-slow {
  transition: .5s ease-in-out;
}

a {
  @apply transition-normal;
}

a:hover {
  @apply text-gold;
}

.active {
  @apply text-gold;
}