.masonry-sizer, .masonry-item {
  width: 100%;
}

.masonry-item {
  margin-bottom: 10px;
}

.masonry-gutter {
  width: 0px;
}

@screen sm {
  .masonry-sizer, .masonry-item {
    width: calc(48%);
  } 
  .masonry-gutter {
    width: calc(4%);
  }
}

@screen md {
  .masonry-sizer, .masonry-item {
    width: calc((100% - 40px)/3);
  }
  .masonry-item {
    margin-bottom: 20px;
  }
  .masonry-gutter {
    width: 20px;
  }
}
@screen lg {
}